.contenido{
    width: 65%;
}

.botones{
    display: flex;
    justify-content: space-between;
}

button{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: rgb(37, 226, 207);
}

.btn{
    font-size: 50px;
}